{% load compress %}
<!doctype html>
<!--[if lt IE 7 ]><html class="ie6 ie67 ie no-js" lang="ru"><![endif]-->
<!--[if IE 7 ]>   <html class="ie7 ie67 ie no-js" lang="ru"><![endif]-->
<!--[if IE 8 ]>   <html class="ie8 ie no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]>   <html class="ie9 ie no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ru" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script type="text/javascript" src="{{STATIC_URL}}js/libs/modernizr.custom.min.js"></script>

    <title>{% block title %}{% endblock %}</title>

    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    {% block meta %}{% endblock %}

    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/common.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/wrapper.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/typo.css" type="text/css">
    {% endcompress %}

{#    {% include 'blocks/google-analytics.html' %}#}
</head>
<body class="{% block bodyclass %}{% endblock %}">

    {% block layout %}
        {# Разметка (каркас сайта) #}
    {% endblock %}

    {% block javascript %}
        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery/jquery-1.6.1.js"></script>
            {# Скрипты, доступные на всех страницах #}
        {% endcompress %}
    {% endblock %}

</body>
</html>
