server {
    server_name {{ SERVER_NAME }} {{ SERVER_NAME }}.fcdev.ru;
    listen {{ SERVER_IP }};

    access_log /var/log/nginx/{{ SERVER_NAME }}.access_log main;
    error_log /var/log/nginx/{{ SERVER_NAME }}.error_log info;

    location / {
        include uwsgi_params;
        uwsgi_pass unix://{{ SOCKET_PATH }};
    }

    location /auth {
        include uwsgi_params;
        uwsgi_pass unix://{{ SOCKET_PATH }};
        allow all;
    }
}