types {
    application/x-font-woff    woff;
}


server {
    listen 80;
    server_name {{ SERVER_NAME }} www.{{ SERVER_NAME }};
    access_log /var/log/nginx/{{ INSTANCE_NAME }}.access.log;
    charset utf-8;
    client_max_body_size 8m;

    gzip_types text/plain text/xml application/xhtml+xml image/x-icon text/css text/javascript application/javascript application/x-javascript text/x-js text/ecmascript application/ecmascript text/vbscript text/fluffscript image/svg+xml application/x-font-ttf application/x-font font/opentype font/otf font/ttf application/x-font-truetype application/x-font-opentype;

    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:4000;
    }

    location /_static {
        root {{ PROJECT_DIR }};
        autoindex off;
        expires max;
    }

    location /_media {
        root {{ PROJECT_DIR }};
        autoindex off;
    }

    location /robots.txt {
        root {{ PROJECT_DIR }}/_static/;
        expires -1;
    }
    location /humans.txt {
        root {{ PROJECT_DIR }}/_static/;
        expires -1;
    }
    location /favicon.ico {
        root {{ PROJECT_DIR }}/_static/;
        expires 1M;
    }

    #error_page  404  /404.html;

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /var/www/nginx-default;
    }
}